<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

</head>
<body>
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/matrix">Matrix</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/hand">Offline Hand</a></li>
            </ul>
            </nav>
        </div>
        <br/>
        <div class="jumbotron">
            <div id="selectContainer"></div>
            <div class="actual-id col-xs-1 " >
                <label style="display:inline-block" for="id">Id:</label>
                <input style="display:inline-block" onchange="load()" type="text" value="------" disabled class="form-control" id="id">
            </div>
            <button type="button" class="btn btn-info play-btn disabled" onmousedown="prev()">Previous</button>
            <button type="button" class="btn btn-success play-btn disabled" onmousedown="play()">></button>
            <button type="button" class="btn btn-danger play-btn disabled" onmousedown="stop()">||</button>
            <button type="button" class="btn btn-primary play-btn disabled" onmousedown="next()">Next</button>
            
            <span class="label label-success">Flies</span>
            <span class="label label-warning">Player</span>
            <span class="label label-danger">Flowers</span>
            <div>
                <div class="svg-container">
                    <div class="my-tooltip">
                        <span><b>Action: </b></span><span class="action"></span>
                        </br>
                        <span><b>Reward: </b></span><span class="reward"></span>
                    </div>
                    <div class="label-container">
                        <span class="label label-default">old state</span>
                    </div>
                    <svg class="state1"></svg>
                </div>
                <div class="svg-container">
                    <div class="label-container">
                        <span class="label label-default">new state</span>
                    </div>
                    <svg class="state2"></svg>
                </div>
            </div>           
            
            <script src="matrix.js"></script> 
        </div>
    </div>
</body>
</html>
